PERPLEXITY_API_KEY="your-api-key-here"
GEMINI_API_KEY="your-api-key-here"
OPENAI_API_KEY="your-api-key-here"
OPENROUTER_API_KEY="your-api-key-here"
CLICKUP_API_TOKEN="your-api-token-here" # https://app.clickup.com/settings/apps
ANTHROPIC_API_KEY="your-api-key-here"
GROQ_API_KEY="your-api-key-here"
MODELBOX_API_KEY="your-api-key-here"
FIRECRAWL_API_KEY="your-api-key-here"
